<h2 mat-dialog-title>Duplicar</h2>
<mat-radio-group class="radio-group" [(ngModel)]="selectedEntityIndex">
  @for (entity of entities; track entity;) {
  <mat-radio-button class="col-md-12" [value]="$index" >{{ getEntityAndNumberByIndex($index)
    }}</mat-radio-button>
  }
</mat-radio-group>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="dialogRef.close(selectedEntityIndex)" cdkFocusInitial>Duplicar</button>
</mat-dialog-actions>