<div class="row">
  <fieldset class="input-container col-md-10">
    <legend>Custos Acessórios</legend>

    <form [formGroup]="costForm">
      <table>
        <tbody>
          <ng-container formArrayName="costs" class="row col-md-12">
            <ng-container *ngFor="
              let control of costs.controls;
              let i = index
            ">

              <tr [formGroupName]="i">
                <td class="col-md-2">
                  <mat-checkbox class="checkbox" (change)="markRowAsSelected(i)"></mat-checkbox>
                </td>
                <td>
                  <mat-form-field appearance="outline" fxFill id="xid" subscriptSizing="dynamic" class="col-md-10">
                    <mat-label>Xid</mat-label>
                    <input matInput #input placeholder="DIARIA" formControlName="xid" />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="outline" fxFill id="costValue" subscriptSizing="dynamic" class="col-md-7">
                    <mat-label>Valor</mat-label>
                    <input matInput #input placeholder="14.23" formControlName="costValue" />
                  </mat-form-field>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
      <button class="btn btn-primary btn-addRow" (click)="addRow()">Adicionar nova linha</button>
      <button class="btn btn-primary btn-removeRow" (click)="removeRow()">Remover linhas selecionadas</button>

    </form>

  </fieldset>

</div>