<form [formGroup]="form">
  <br>
  <div class="bd-main container-fluid">
    <table class="col-md-12">
      <tbody>
        <ng-container formArrayName="nfes">
          <ng-container *ngFor="
            let control of nfes.controls;
            let i = index
          ">

            <tr [formGroupName]="i" class="row nfes">
              <h4>NF-e - {{getNFeNumberByIndex(i)}}</h4>
              <div class="row">
                <button class="btn btn-primary btn-exchange col-md-2" (click)="exchangeParticipants()">Inverter
                  participantes</button>
                <button class="btn btn-primary btn-exchange col-md-2"
                  (click)="changeRetiradaState()">{{getRetiradaState()}} Retirada</button>
                <button class="btn btn-primary btn-exchange col-md-2"
                  (click)="changeEntregaState()">{{getEntregaState()}} Entrega</button>
              </div>
              <td>
                <nfe-ide-accordion formControlName="ide" />
                <nfe-participant-accordion formControlName="emit" [participantName]="'Emitente'" />
                <nfe-participant-accordion formControlName="dest" [participantName]="'Destinatário'" />
                <div *ngIf="hasRetirada">
                  <nfe-participant-accordion formControlName="retirada" [participantName]="'Retirada'" />
                </div>
                <div *ngIf="hasEntrega">
                  <nfe-participant-accordion formControlName="entrega" [participantName]="'Entrega'" />
                </div>
                <nfe-other-tags-accordion formControlName="otherTags" />
                <nfe-infAdic-accordion formControlName="infAdic" />
                <hr>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</form>