<form [formGroup]="form">
  <br>
  <div class="bd-main container-fluid">
    <table class="col-md-12">
      <tbody>
        <ng-container formArrayName="nfes">
          <ng-container *ngFor="
            let control of nfes.controls;
            let i = index
          ">

            <tr [formGroupName]="i" class="row nfes">
              <h4>NF-e -</h4>
              <div class="row">
                <button class="btn btn-primary btn-exchange col-md-3" (click)="exchangeParticipants()">Inverter participantes</button>
                <button class="btn btn-primary btn-exchange col-md-3" (click)="changeRetiradaState()">{{getRetiradaState()}} Retirada</button>
                <button class="btn btn-primary btn-exchange col-md-3" (click)="changeEntregaState()">{{getEntregaState()}} Entrega</button>
              </div>
              <td>
                <nfe-ide-accordion />
                <nfe-participant-accordion [participantName]="'Emitente'" />
                <nfe-participant-accordion [participantName]="'Destinatário'" />
                <div *ngIf="hasRetirada">
                  <nfe-participant-accordion [participantName]="'Retirada'" />
                </div>
                <div *ngIf="hasEntrega">
                  <nfe-participant-accordion [participantName]="'Entrega'" />
                </div>
                <nfe-infAdic-accordion />
                <hr>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</form>