.content {
    width: 270px;
    display: table;
    overflow: hidden;
}

h2 {
    text-align: center;
    padding: 0px;
    margin-left: 8px;
}

#arrow {
    width: 15%;
    margin-bottom: 22px;
    margin-left: 108px;
}

.participant-select{
    margin: 0px 0px 10px 28px;
}