.content {
    width: 500px;
    overflow: hidden;
}

h2 {
    text-align: center;
}

.name-label {
    margin-left: 12px;
    font-size: larger;
    margin-top: 8px;
}

.name-input {
    margin-left: 24px;
    margin-top: 12px;
}

.preview {
    width: 100%;
    color: gray;
    margin-left: 14px;
    font-size: larger;
    margin-top: 10px;
}
