<fieldset class="input-container col-md-12">
  <legend>Release</legend>

  <form [formGroup]="releaseForm">
    <br>
    <div class="row inputs">
      <mat-form-field appearance="outline" fxFill id="domainName" class="col-md-2" subscriptSizing="dynamic">
        <mat-label>DomainName</mat-label>
        <input matInput #input placeholder="EMBDEV" formControlName="releaseDomainName" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFill class="col-md-2" subscriptSizing="dynamic">
        <mat-label>Xid</mat-label>
        <input matInput #input placeholder="XID" formControlName="releaseXid" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFill class="col-md-2" subscriptSizing="dynamic">
        <mat-label>Xid da Location de Origem</mat-label>
        <input matInput #input placeholder="ORG-8027-30018" formControlName="shipFrom" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFill class="col-md-2" subscriptSizing="dynamic">
        <mat-label>Xid da Location de Destino</mat-label>
        <input matInput #input placeholder="ORG-8027-30018" formControlName="shipTo" />
      </mat-form-field>

    </div>

    <hr>

    <div class="refnum">
      <refnum formControlName="refnums" [colClass]="'col-md-7'" />

      <hr>

      <order-movement formControlName="orderMovement" />
    </div>

  </form>
</fieldset>