<div class="row buttons">

    <button class="btn btn-primary btn-addRow col-md-3" (click)="addRow()">Adicionar nova Release</button>
    <button class="btn btn-primary btn-removeRow col-md-3" (click)="removeRow()">Remover releases selecionadas</button>

</div>
<div class="row">

    <form [formGroup]="releaseForm">
        <table class="col-md-11">
            <tbody>
                <ng-container formArrayName="Releases">
                    <ng-container *ngFor="
                let control of releases.controls;
                let i = index
              ">

                        <tr [formGroupName]="i" class="row releases">
                            <td class="col-md-1">
                                <mat-checkbox class="checkbox" (change)="markRowAsSelected(i)"></mat-checkbox>
                            </td>
                            <td class="col-md-11">
                                <release-input formControlName="release" />
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>

    </form>

</div>