.content {
    width: 500px;
    overflow: hidden;
}

h2 {
    text-align: center;
}

.file-input {
    display: none;
}

.download-button,
.radio-group {
    margin-left: 14px;
}

.download-type-label,
.download-name-label {
    margin-left: 12px;
    font-size: larger;
}

.download-name-label {
    margin-top: 8px;
}

.download-name-input {
    margin-left: 24px;
    margin-top: 12px;
}

.preview {
    width: 100%;
    color: gray;
    margin-left: 14px;
    font-size: larger;
}
