<div class="content">
  <h2 mat-dialog-title>Download de entidades</h2>
  <div class="row">
    <label class="download-type-label">Download como:</label>

    <mat-radio-group class="radio-group" (change)="onDownloadTypeChange($event)">
      <mat-radio-button class="col-md-6" id="json" value="1" [checked]="true">JSON</mat-radio-button>
      <mat-radio-button class="col-md-6" id="xml" value="2" disabled="true">XML (Em breve!)</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row">
    <label class="download-name-label">Nome do arquivo:</label>

    <mat-form-field appearance="outline" fxFill id="name" class="col-md-6 download-name-input" subscriptSizing="dynamic">
      <mat-label>Nome</mat-label>
      <input matInput #input placeholder="Ingresser" [(ngModel)]="fileName"/>
    </mat-form-field>

  </div>
  <hr>
  <label class="preview">Seletor de itens a serem serializados (Em breve!)</label>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="downloadCallsAsFile()">Salvar</button>
  </mat-dialog-actions>
</div>