<main class="main">

  <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center">
      <h1 class="d-flex align-items-center fs-4 text-white mb-0">
        <img src="../assets/logo.ico" alt="logo" height="100px;" />
        <h1 style="margin-top: 20px;">Ingresser</h1>
      </h1>
    </div>
  </header>


  <button class="float fab-btn" id="menu-share">
    Menu
  </button>

  <ul>
    <!-- <li>
        <button class="fab-btn">
            CT-e
        </button>
      </li>

      <li>
        <button class="fab-btn">
          NF-e
        </button>
      </li> -->

    <li>
      <button class="fab-btn menu-shipment-option" (click)="showShipmentOptions()">
        Embarque
      </button>
    </li>

  </ul>
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="bd-main container-fluid">
    <div>
      <shipment formControlName="shipment" />

      <hr>

      <button class="btn btn-primary submit" type="submit">Enviar</button>
    </div>
  </form>


</main>

<router-outlet />