.input-container {
    border: 2px;
    border-color: rgb(13, 110, 253);
    border-style: solid;
    border-radius: 4px;
    margin: 10px;
}

legend {
    font-size: x-large;
    padding: 2px;
    margin-left: 5px;
    float: none;
    width: auto;
}

table {
    width: 90%;
    margin: auto;
    margin-top: 25px;
}

button {
    border-radius: 4px;
    padding: 10px;
    border: 0px;
    margin: 10px;
}

button:hover {
    background-image: linear-gradient(rgba(189, 187, 187, 0.4) 0 0);
}

.btn-edit {
    text-align: right;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

.table-header {
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-add-row {
    background: #1b9e1b;
    color: #ffffff;
    margin-right: 5px;
}

.button-add-row:hover {
    background: #116811;
}

.button-remove-rows {
    background: red;
    color: #ffffff;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px;
}

.button-remove-rows:hover {
    background: rgb(191, 2, 2);
}

.button-remove:hover {
    border-color: red;
    color: red;
}

::ng-deep .mat-form-field-infix {
    width: 100% !important;
}

.form-input {
    padding-right: 5px;
}
