.input-container {
    border: 2px;
    border-color: rgb(13, 110, 253);
    border-style: solid;
    border-radius: 4px;
    margin-left: 10px;
}

legend {
    padding: 2px;
    margin-left: 5px;
    float: none;
    width: auto;
}

mat-form-field {
    margin-left: 15px;
    height: fit-content;
    margin-bottom: 15px;
}
