<div class="content">
  <h2 mat-dialog-title>Criação de entidades</h2>
  <div class="row">
    <label class="upload-type-label">Download como:</label>

    <mat-radio-group class="radio-group" (change)="onDownloadTypeChange($event)">
      <mat-radio-button class="col-md-12" id="json" value="1" [checked]="true">JSON</mat-radio-button>
      <mat-radio-button class="col-md-12" id="xml" value="2">Xml</mat-radio-button>
    </mat-radio-group>
  </div>


  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="downloadCallsAsFile()" >Salvar</button>
  </mat-dialog-actions>
</div>