.input-container {
    border: 2px;
    border-color: rgb(13, 110, 253);
    border-style: solid;
    border-radius: 4px;
    margin: 0px 10px;
}

legend {
    font-size: x-large;
    padding: 2px;
    margin-left: 5px;
    float: none;
    width: auto;
}

.inputs {
    margin: 0px 0px 20px 0px;
}

.fields {
    margin-left: 6px;
}

hr {
    height: 6px;
    opacity: 0.5;
    margin: 10px;
}

mat-form-field {
    margin: 15px 0px 15px 10px;
    height: fit-content;
}

.base-cost,
.base-cost-label {
    text-align: right;
}
