<div class="row g-3">
    
    <div class="col-md-2">
      <div class="form-floating mb-3">
        <input type="email" class="form-control input-sm" id="floatingInput" placeholder="EMBDEV">
        <label for="floatingInput">DomainName</label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-floating mb-3">
        <input type="email" class="form-control input-sm" id="floatingInput" placeholder="Xid">
        <label for="floatingInput">Xid</label>
      </div>
    </div>

    <grid></grid>

  </div>