.input-container {
    border: 2px;
    border-color: rgb(13, 110, 253);
    border-style: solid;
    border-radius: 4px;
    margin: 0px 22px;
}

legend {
    font-size: x-large;
    padding: 2px;
    margin-left: 5px;
    float: none;
    width: auto;
}

.inputs {
    margin: 0px 0px 20px 0px;
}

hr {
    height: 6px;
    opacity: 0.5;
    margin: 10px;
}

mat-form-field {
    height: fit-content;
}

.component {
    margin-bottom: 20px;
}

.checkbox {
    margin-top: 0px;
}