<form [formGroup]="form">

  <div class="bd-main container-fluid">
    <button type="button" class="btn btn-primary" (click)="addShipment()">Criar embarque</button>

    <table class="col-md-12">
      <tbody>
        <ng-container formArrayName="shipments">
          <ng-container *ngFor="
          let control of shipments.controls;
          let i = index
        ">

            <tr [formGroupName]="i" class="row shipments">
              <td>
                <shipment-header-accordion formControlName="shipmentHeader" />
                <shipment-header2-accordion formControlName="shipmentHeader2" />
                <shipment-stop-accordion formControlName="shipmentStop" />
                <location-accordion formControlName="location" />
                <release-accordion formControlName="release" />
                <hr>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</form>