<form [formGroup]="form">

  <div class="bd-main container-fluid">
    <button type="button" class="btn btn-primary" (click)="createShipment()">Criar embarque</button>

    <button type="button" class="btn btn-primary" (click)="deleteShipment()">Remover embarque</button>

    <div *ngIf="showShipmentAccordion">
      <shipment-header-accordion formControlName="shipmentHeader" />
      <shipment-header2-accordion formControlName="shipmentHeader2" />
      <shipment-stop-accordion formControlName="shipmentStop" />
      <location-accordion formControlName="location" />
      <release-accordion formControlName="release" />
    </div>

  </div>
</form>