body {
    scroll-behavior: smooth;
}

hr {
    margin: 20px 0;
    color: white;
}

button {
    margin: 20px 10px 10px 1px;
}

h4 {
    color: white;
}

.preview{
    background-color: white;
    width: 100%;
    padding: 16px;
    color: gray;
    border-radius: 4px;
}
