.inputs {
    margin: 0px 0px 20px 0px;
}

hr {
    height: 6px;
    opacity: 0.5;
    margin: 10px;
}

mat-form-field {
    margin: 15px 0px 15px 10px;
    height: fit-content;
}

.base-cost,
.base-cost-label {
    text-align: right;
}
