<div [formGroup]="costInputForm" class="inputs">
  <br>
  <div class="row g-3">
    <div class="col-md-6">
      <mat-form-field appearance="outline" fxFill id="baseCost" class="col-md-2" subscriptSizing="dynamic">
        <mat-label>Custo Base</mat-label>
        <input matInput #input placeholder="14.32" formControlName="baseCost" />
      </mat-form-field>
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-8">
      <cost-table></cost-table>
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <mat-form-field appearance="outline" fxFill id="totalCost" class="col-md-2" subscriptSizing="dynamic">
        <mat-label>Custo Total</mat-label>
        <input matInput #input placeholder="14.32" formControlName="totalCost" />
      </mat-form-field>
    </div>
  </div>
</div>