<div class="row g-3">
  <div class="col-md-2">
    <div class="form-floating mb-3">
      <input type="text" class="form-control input-sm" id="baseCost" placeholder="EMBDEV">
      <label for="baseCost">Custo base</label>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-floating mb-3">
      <input type="text" class="form-control input-sm" id="acessorialCosts" placeholder="EMBDEV">
      <label for="acessorialCosts">Custos acessórios</label>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-floating mb-3">
      <input type="text" class="form-control input-sm" id="totalCost" placeholder="EMBDEV">
      <label for="totalCost">Custo Total</label>
    </div>
  </div>
</div>